.product-main{
    margin-left: 300px;
    margin-top: 100px;
}
.product-main > .flex-row > h1{
    margin-left: -80px;
}
/* .product-main > .flex-row > div {
    height: 20px;
} */

.cart-item-thumb {
    display: block;
    width: 10rem
}

.cart-item-thumb>img {
    display: block;
    width: 100%
}
#progressbar-1 {
    color: #455A64;
  }
  
  #progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
  }
  
  #progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 22px;
    padding-left: 11px;
  }
  
  #progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
  }
  
  #progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 22px;
    text-align: center;
  }
  
  #progressbar-1 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
  }
  
  #progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
  }
  
  #progressbar-1 li:nth-child(2):after {
    left: 50%
  }
  
  #progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
  }
  
  #progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
  }
  
  #progressbar-1 li.active:before,
  #progressbar-1 li.active:after {
    background: #1266f1;
  }

.product-card-title>a {
    color: #222;
}

.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

.text-muted {
    color: #888 !important;
}

.bg-secondary {
    background-color: #f7f7f7 !important;
}

.accordion .accordion-heading {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: bold;
}
.font-weight-semibold {
    font-weight: 600 !important;
}
.add-product-btn{
    width: 150px;
    height: 50px;
}

.card-main {
    border-radius: 3vh;
    margin: auto; 
     max-width: 380px;
    padding: 7vh 6vh;
    align-items: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}